:root{
    --primary-color: #3498db;
    --segundary-color:#2980b9;
    --text-color:#ecf0f1;
    --text-segundary-color:#000f1f;
    --backgroud-color:#34495e;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--text-color);

}

.menu-lateral{
   position: fixed;
   left: -300px;
   top: 0;
   width: 300px;
   height: 100%;
   background-color: var(--backgroud-color);
   z-index: 99;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
}

.menu-lateral.ativo{
    left: 0;
}

.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li{
    padding: 15px 30px;

}
.menu-lateral ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}